:root {
  --primary-color: #FD6438;
  --secondary-color: #CFFE7A;
  --accent-color: #FED12E;
  --dark-color: #420203;
  --light-color: #FBDE9C;
  --neutral-color: #00553E;
  --padding-general: 0.5em;
  --border-radius: 1.5vh;
  --font-main: "Rubik", sans-serif;
}

body {
  min-height: 100%;
  font-family: var(--font-main);
}

.bento-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; /* Pour permettre une meilleure gestion du responsive */
}

.hello {
  display: flex;
  flex-direction: column;
  margin: 0.5% 0.2%;
}

.introduction {
  background-color: var(--primary-color);
  height: 200px;
  border-radius: var(--border-radius);
  padding: 0 5%;
  display: flex;
  align-items: flex-end;
}

.introduction h1 {
  font-weight: 500;
  color: var(--light-color);
}

.boutons-role,
.boutons-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--padding-general) 0;
}

.bouton-role {
  font-size: 1em;
  padding: 0.6em 0.8em;
  border-radius: 3vh;
  margin-top: 0.5em;
}

#graphiste {
  background-color: var(--secondary-color);
  color: var(--neutral-color);
}

#arrow {
  background-color: var(--accent-color);
  color: var(--dark-color);
}

#dev {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.bouton-socials {
  border-radius: var(--border-radius);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

#linkedin {
  background-color: #9D9DCF;
  color: var(--neutral-color);
}

#github {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

#notion {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

#pinterest {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.experience, 
.formation, 
.competences, 
.hobbies {
  border-radius: var(--border-radius);
  padding: var(--padding-general) 4em 2em 2em;
  margin: 0.5% 0.2%;
  font-size: 0.8em;
  font-weight: 300;
}

.experience, 
.formation {
  max-width: 20%;
}

.experience {
  background-color: #F9BCCE;
  color: var(--dark-color);
}

.formation {
  background-color: var(--neutral-color);
  color: var(--secondary-color);
}

.competences {
  background-color: var(--accent-color);
  color: var(--neutral-color);
}

.hobbies {
  background-color: var(--primary-color);
  color: var(--light-color);
}

h1 {
  font-size: 1.5em;
}

.exp-titre,
.form-titre {
  font-size: 1em;
  font-weight: 500;
  margin-top: 0.5em;
}

.exp-details {
  font-size: 0.9em;
  font-weight: 400;
}

@media (max-width: 800px) {
  .bento-grid {
    flex-direction: column;
    align-items: center;
  }

  .experience,
  .formation {
    max-width: 100%;
  }
}
