:root {
  --orange: #FD6438;
  --rose: #FCB1CA;
  --vert: #CFFE7A;
  --jaune: #FED12E;
  --marron: #420203;
  --creme: #FBDE9C;
  --vertfonce: #00553E;
  --mauve: #9D9DCF;
  --padding-general: 0.5em;
  --border-radius: 1.5vh;
  --font-main: "Rubik", sans-serif;
}
  
body {
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    min-height: 100vh; /* Assure que l’élément est centré verticalement dans la page */
}

.bento-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  resize: horizontal;
  box-sizing: border-box; 
  width: 80vw;
  height: auto;  
}

.hello {
  display: flex;
  flex-direction: column;
  margin: 0.5% 0.2%;
  flex: auto;
}

.introduction {
  background-color: var(--orange); 
  flex: 6;
  border-radius: 1.5vh; 
  padding: 0 5%;
  display: flex;
  align-items: flex-end;
}

.introduction h1 {
  font-weight: 500;
  color: var(--creme); 
}

.boutons-role {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
}

.bouton-role {
  font-size: 1em;
  padding: 0.6em 0.8em; 
  border-radius: 3vh; 
  margin: 0.5em 0 0 0; 
}

#graphiste {
  background-color: var(--vert);
  color: var(--vertfonce);
  margin: 0.5em 0.3em 0 0;
}

#arrow {
  background-color: var(--jaune);
  color: var(--marron);
  margin: 0.5em 0.3em 0 0;
}

#dev {
  background-color: var(--marron);
  color: var(--rose);
}

.boutons-socials {
  display: flex;
  flex-direction: row;
  resize: horizontal;
  margin: 0.5em 0 0 0;
  flex: 2;
}

.bouton-socials {
  border-radius: 1.5vh;
  flex: auto;
  padding: 0.5vh;
  align-content: center;
  vertical-align: center;
}

.bouton-socials img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icons-socials {
  width: 4vh;
}

#linkedin {
  background-color: var(--mauve);
  color: var(--vertfonce);
  margin: 0 0.3em 0 0;
}

#github {
  background-color: var(--vert);
  color: var(--marron);
  margin: 0 0.3em 0 0;
}

#notion {
  background-color: var(--jaune);
  color: var(--orange);
  margin: 0 0.3em 0 0;
}

#pinterest {
  background-color: var(--orange);
  color: var(--creme);
}

.experience {
  background-color: var(--rose); 
  color: var(--marron);
  flex: auto;
  border-radius: 1.5vh;
  padding: 0.5em 1em 2em 2em;
  margin: 0.5% 0.2%;
  font-size: 0.8em;
  font-weight: 300;
  max-width: 60ch;
}

h1 {
  font-size: 1.5em;
}

.exp-titre {
  font-size: 1em;
  font-weight: 500;
  margin-top: 0.5em;
}

.exp-details {
  font-size: 0.9em;
  font-weight: 400;
}

.formation {
  background-color: var(--vertfonce); 
  color: var(--vert);
  /* max-width: 20%; */
  flex: auto;
  border-radius: 1.5vh;
  padding: 0.5em 4em 2em 2em;
  margin: 0.5% 0.2%;
  font-size: 0.8em;
  font-weight: 300;
  max-width: 60ch;
}

.form-titre {
  font-size: 1em;
  font-weight: 500;
  margin-top: 0.5em;
}

.autres {
  margin: 0.5% 0.2%;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.competences {
  background-color: var(--jaune); 
  color: var(--vertfonce);
  border-radius: 1.5vh;
  padding: 0.5em 4em 2em 2em;
  margin: 0.5% 0 0.5em 0;
  font-size: 0.8em;
  font-weight: 300;
  flex: auto;
}

.hobbies {
  background-color: var(--orange); 
  color: var(--creme);
  border-radius: 1.5vh;
  padding: 0.5em 4em 2em 2em;
  margin: 0.5% 0;
  font-size: 0.8em;
  font-weight: 300;
  flex: auto;
}

@media screen and (max-width: 1050px) {
  .experience {
    background-color: var(--rose); 
    color: var(--marron);
    flex: auto;
    border-radius: 1.5vh;
    padding: 0.5em 1em 2em 2em;
    margin: 0.5% 0.2%;
    font-size: 0.8em;
    font-weight: 300;
    max-width: 100%;
  }
}